
:root
{
    --orange: #ff764d;
    --blue: #0000ff;
    --lightblue: #b1c5ff;
    --smokeyellow: #fbffa7;
    --lightgreen: #b6ffc0;
    --lightpurple: #d5b3ff;
}

@font-face
{
    font-family: ableton;
    src: url("font/futura-pt-book.2dadbb3c03c1.woff2");
}
@font-face
{
    font-family: abletonBig, sans-serif;
    src: url("font/futura-pt-medium.b650e9c2aaf6.woff2");
}

*
{
    margin: 0;
    padding: 0;
    font-family: ableton, sans-serif;
}

html
{
    background: #e5e5e5;
}

body
{
    width: 85%;
    margin-inline: auto;
    background-color: rgb(243, 243, 243);
    transition: .5s;
}

nav
{
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    height: 4.5rem;
    border-bottom: 2px solid lightgray;
}

ul
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

ul img
{
    width: 4rem;
    align-self: center;
    margin-top: .5rem;
}

li, a
{
    text-decoration: none;
    align-self: center;
    list-style: none;
    color: black;
    font-size: 1.3rem;
    cursor:pointer;
}

#more
{
    color: var(--orange);
}

#tryLive
{
    color: var(--blue);
}

.body ul
{
    width: 100%;
    height: 4.5rem;
    display: flex;
    justify-content: flex-start;
    margin-left: 2rem;
}

.secondaryList
{
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

#about
{
    color: var(--orange);
}
.firstImage
{
    display: flex;
    align-content: center;
    justify-content: center;
    container-type: inline-size;
}

.firstImage img
{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    box-shadow:
            1.9px 1.2px 2.2px rgba(0, 0, 0, 0.003),
            4.5px 2.8px 5.3px rgba(0, 0, 0, 0.004),
            8.4px 5.3px 10px rgba(0, 0, 0, 0.005),
            15px 9.4px 17.9px rgba(0, 0, 0, 0.006),
            28px 17.5px 33.4px rgba(0, 0, 0, 0.007),
            67px 42px 80px rgba(0, 0, 0, 0.01)
;
}

.firstImage h1
{
    position: absolute;
    align-self: center;
    justify-self: center;
    font-size: 10cqi;
    max-width: 100%;
    color: var(--orange);
    z-index: 99;
}

.firstText
{
    margin-top: 8rem;
    display: flex;
    width: 50%;
    align-content: center;
    justify-content: center;
    margin-inline: auto;
}

.firstText p
{
    font-size: 2rem;
}

.purple
{
    color: var(--blue);
}

.secondText
{
    margin-top: 3rem;
    display: flex;
    width: 50%;
    align-content: center;
    justify-content: center;
    margin-inline: auto;
}

.secondText p
{
    font-size: 1.2rem;
}
.headerImages {
    margin-top: 5rem;
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust the height as necessary */
}

.firstImageBottom, .mainSecond {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.firstImageBottom {
    left: 10%;
    width: 40%;
    z-index: 9;
    box-shadow:
            2.6px 1.5px 2.2px rgba(0, 0, 0, 0.02),
            6.2px 3.5px 5.3px rgba(0, 0, 0, 0.028),
            11.6px 6.6px 10px rgba(0, 0, 0, 0.035),
            20.8px 11.8px 17.9px rgba(0, 0, 0, 0.042),
            38.9px 22.1px 33.4px rgba(0, 0, 0, 0.05),
            93px 53px 80px rgba(0, 0, 0, 0.07)
;

}

.mainSecond {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    right: 0;
    width: 60%;
}

.yellowBackground\" {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 55vw;
    height: 55rem;
    background-color: var(--smokeyellow);
}

.secondImage
{
    align-self: center;
    justify-self: center;
}

.firstImageBottom img,
.secondImage img {
    max-width: 100%;
    height: auto;
}

.videoWhyAbleton
{
    margin-top: 5rem;
    position: relative;
    padding-bottom: 28.13%; /* 16:9 aspect ratio */
    overflow: hidden;
    max-width: 50%;
    height: 0;
    background: #000;
    margin-inline: auto;
}

.videoWhyAbleton iframe
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: transparent;
}


#whyAbleton
{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-inline: auto;
    width: 50%;
    margin-top: .5rem;
    font-size: .9rem;
}
#whyAbleton p
{
    margin-left: 1.5rem;
}

.lightgreenBackground
{
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 60vw;
    background-color: var(--lightgreen);
    margin-top: 12rem;
}

.lightgreenBackground .images
{
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.lightgreenBackground .image
{
    flex: 1 1 auto;
    padding: 4rem;
    margin-left: 5rem;
}

.image img
{
    width: 55%;
}

.imageOutside img
{
    position: absolute;
    top: 50%;
    right: -30%;
    transform: translateY(-50%);
}

.imageOutside img
{
    width: 60%;
}

.image img,
.imageOutside img
{
    max-width: 100%;
    height: auto;
}

.abletonImage img
{
    display: flex;
    width: 85%;
    margin-inline: auto;
    margin-top: 12rem;
}

footer {
    margin-top: 10rem;
    padding-left: 8.33vw;
    padding-right: 8.33vw;
    border-top: 2px solid lightgray;
}

.footer-container {
    padding-top: 8.33vw;
}

.footer-logo img {
    width: 18%;
    margin-bottom: 4rem;
}

.footer-info {
    display: grid;
    grid-template-columns: 1.7fr 2fr 2.5fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

.grid-items {
    margin-top: 1rem;
}

.footer-titles p {
    font-size: 1.1rem;
    font-weight: 200;
    margin-bottom: 0.5rem;
    cursor: pointer;
    line-height: 1.25;
}

.social-logo i {
    margin-top: 1rem;
    width: 2rem;
    cursor: pointer;
}

.email-input {
    background: #eee;
    border: 0;
    border-radius: 0;
    padding: 0.75rem 0.75rem;
    width: 73%;
    font-size: inherit;
    margin-top: 1rem;
}

.signup-button {
    background: blue;
    font-weight: bold;
    font-size: inherit;
    border: 0;
    color: #fff;
    border-radius: 0;
    padding: 0.75rem 1rem;
    cursor: pointer;
}

.dropdown-menu {
    display: inline-block;
}

.dropdown-menu select {
    background: #eee;
    height: 1.8rem;
    cursor: pointer;
    border: 0;
    border-radius: 0;
    color: #000;
    padding: 0.3rem 50px 0.3rem 0.7rem;
}

.footer-others {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 0 0rem 0;
}

.footer-others .extras1 a {
    text-decoration: none;
    color: #000;
    margin: 0.25rem;
    font-size: 0.85rem;
}

.extras2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

.extras2 img {
    height: 45px;
    width: 45px;
    margin-left: 0.5rem;
}

@media screen and (max-width: 768px)
{
    .nav ul li
    {
        display: none;
    }
    .footer-info {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .footer-others {
        flex-direction: column;
        margin: 2rem 0 1rem 0;
    }

    .extras1 {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
    }
}


@media (max-width: 1740px)
{
    body
    {
        transition: .5s;
        width: 100%;
        margin-inline: auto;
    }
    .firstText
    {
        width: 80%;
    }
    .secondText
    {
        width: 80%;
    }
    .videoWhyAbleton
    {
        padding-bottom: 37.50%;
        max-width: 80%;
    }
}


